Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Flask-Cors==3.1.0
Werkzeug==2.3.7
psycopg2-binary==2.9.7  # For PostgreSQL database connection
Flask-Login==0.6.3  # For handling user authentication
Flask-Migrate==4.0.5  # For handling database migrations
Flask-WTF==1.1.1  # For handling form validations
